.menu ul {
	font-family: Arial, sans-serif;
	font-size:14px;
	list-style: none;
	color:#fffdbf;
	text-align:left;
	margin:5px 0 0 0;
	background-color: #152e46;
}

.menu ul li{
	display:inline;
	cursor: default;
}

.menu ul li a{
	color:#fffdbf;	
	display:inline-block;
	padding:10px 8px;
	line-height:10px;
	/*text-decoration:none;*/
	cursor: pointer;
}

.menu ul li a:hover{
	color: #97b6d3;
	border-bottom: 1px;
}

.menu ul li.selected a{
	color:#fffdbf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.current {
	color: #fff !important;
	border-bottom: #ffffff !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
}