ul, li {
	border:0pt none;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	padding:5px;
	vertical-align:baseline;
  list-style: none;
  line-width: 50px;
}