<div id="parent_popup_click1" class="parent_popup_click" [hidden]="isHidden">
  <div class="popup_click">
    <h2>Настройки</h2>
    <dynamic-tabs></dynamic-tabs>
    <!--<a class="close" title="Закрыть" onclick="document.getElementById('parent_popup_click1').style.display='none';">X</a>-->
    <a class="close" title="Закрыть" (click)="close()">X</a>
    <div id="footer">
      <button (click)="saveSettings()">Сохранить</button>
    </div>
  </div>
</div>

<!--[style.display]="isHidden?'none':'block'"-->